#menubar {
    width: 100%;
    height: 70px;
    background-color: lightblue;
    padding-top: 2px;
}

#logga {
    padding-left: 200px;
    padding-top: 27px;
    margin-left: auto;
    margin-right: auto;
}

#

#background